# VCS
.git
.gitignore

# Python artifacts
__pycache__
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual envs
env/
venv/
.venv*/
.env/

# Build/dist
build/
dist/
*.egg-info
.dist/

# ML artifacts and large data
mlruns/
mlflow.db
mlruns.db
# data/
# models/
# *.pt
# *.pth
# *.h5
# *.onnx
# *.joblib
# *.pkl

# Logs, plots, notebooks
plots/
*.log
*.png
*.jpg
*.jpeg
*.gif
*.ipynb
*.ipynb_checkpoints

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

